body {
	
	background-image: url('/fabric_plaid.png');
    background-repeat: repeat;
}

/*another line here.. show conflict*/

.container {
  margin: 100px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}

h1 {
	font-family: Comic, sans-serif; 
	font-size: 35px;
	font-weight: bold;
}

h3 {
	font-family: Comic, sans-serif;
	font-size: 40px;
}

p  {
	font: Georgia, sans-serif;
}

div .login  {
	float: left;
}

div .signin {
	float: right;
	margin-right: 5%;
	
}

input[type="text"],[type="password"] {
	padding: 10px 5px;
	width: 300px;
	margin: 5px auto;
}

input[type="submit"] {
	padding: 10px 5px;
	margin: 5px auto;
	border-radius: 5px;
	background-color: orange;
	border-color: orange;
}

.button {
	text-align: right;
}

p {
	color: gray;
}

.footer {
	clear: both;
	font-size: 12px;
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
	position: relative;
	top: 50px;
	margin-right: 5%;
}

