<div class="container">
<h1>Create your own playing deck:</h1>
<form action="/create_deck" method="POST">
<p><label>Title: <input type="text" name="title"></label></p>
<p><label>Question: <input type="text" name="question"></label></p>
<p><label>Answer: <input type="text" name="answer"></label>
	<p><label>Question: <input type="text" name="question2"></label></p>
<p><label>Answer: <input type="text" name="answer2"></label>
	<p><label>Question: <input type="text" name="question3"></label></p>
<p><label>Answer: <input type="text" name="answer3"></label>
	<p><input type="submit" name="create"></p>
</form>

</div>

