<div class="container">
<br><a href="/logout">Logout</a>

<% if @guess %>
  <%= @result %>
<% end %>

<h1> You have finished the deck! </h1>
<h3>Number correct: <%= @correct %> <br> Number incorrect: <%= @incorrect %></h3>
<a href="/round/stats/<%= @round.id %>">Would you like to see the answers?</a><br>
<a href="/home">Choose a new deck</a>
</div>
