<form method="get" action="/home/history">
<input type="submit" value= "view history" name="history">
</form>

<% @deck.each do |d| %>
<form method="post" action="/deck/<%= d.id %>">
<input type="submit" value= "<%= d.title %>"  name="play">
</form>
<br>
<% end %>


