<div class="container">
   <div class="topnav">
	   <p><a href="/home/history">Round Stats</a></p>
	   <p><a href="/create_deck">+ Custom Deck</a></p>
	   <p><a href="/logout">Logout</a></p>
   </div>
   <!-- <form method="get" action="/home/history">
      <input type="submit" value= "view history" name="history">
      </form> -->
   <p>
   <section id="deck_selection_display">
      <h3>Start playing by selecting a deck below:</h3>
      <% @deck.each do |d| %>
      <p><%= d.title %></p>
      <form method="post" action="/deck/<%= d.id %>">
         <input type="submit" value= "PLAY"  name="play">
      </form>
      <br>
      <% end %>
   </section>
   </p>
</div>