<form method="get" action="/home/history">
<input type="submit" value= "view history" name="history">
</form>


<form method="get" action="/home/play">
<input type="submit" value= "play"  name="play">
</form>


