<div class="container">
  <h1>Welcome to Flashcard Generator!</h1>


<table >



  <form action="/user/login" method="post">
   <p> <%= @failed_login_message %> </p>
  <tr><p> Please Login: </p>
  <td><input type="text" name="email" placeholder = "email"></td>
  <tr><td><input type="password" name="password" placeholder="password"></td>
   <tr> <td><input type="Submit" value="Login"></td>
  </form>
  <% if @valid  %>
  <%= "Username and password invalid"%>
  <%end%>
</table>

<br>


<table >
  <p> <%= @broadcast %> </p>
  <form action="/user/create" method="post">
  
  <tr><p> Please Signup: </p>
  <td><input type="text" name="email" placeholder = "email" value=<%= @email%>></td>
  <tr><td><input type="password" name="password" placeholder="password"></td>
  <tr><td><input type="password" name="password_reconfirm" placeholder="Reconfirm Password"></td>
  <tr><td><input type="Submit" value="Signup!"></td>
  </form>
</table>


  </form>
</table>




</div>
